name: Deploy Website to S3

on:
  push:
    branches: [main]
    paths:
      - "website/index.html"

jobs:
  deploy-website:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload index.html to S3
        run: |
          aws s3 cp website/index.html s3://inventory-app-jashanpreetsingh-2025/index.html --acl public-read
